<div class="box-cart">
	<div id="cart" class="cart toggle-wrap">
		<button type="button" data-loading-text="{{ text_loading }}" class="toggle icon-toggle">
			<i class="linearicons-bag2"></i>
			{% if (text_items2 is defined) %}
				<span id="cart-total2" class="cart-total2">{{ text_items2 }}</span>
			{% else %}
				<span id="cart-total" class="cart-total">{{ text_items }}</span>
			{% endif %}
		</button>
		<ul class="pull-right toggle_cont">
			<li>
				<h5>{{ text_shopping_cart }}</h5>
			</li>
			{% if (products or vouchers) %}
				<li>
					<table class="table">
						{% for product in products %}
							<tr>
								<td class="text-center">{% if (product['thumb']) %}
										<div class="image">
											<a href="{{ product['href'] }}">
												<img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-thumbnail"/>
											</a>
										</div>
									{% endif %}
								</td>
								<td class="text-left">
									<div class="name"><a href="{{ product['href'] }}">{{ product['name'] }}</a></div>
								</td>
								<td class="text-right">
									<div><span class="price-cart"><i> x </i> {{ product['quantity'] }} <b>{{ product['total'] }}</b></span></div>
								</td>
								<td class="text-center">
									<button type="button" onclick="cart.remove('{{ product['cart_id'] }}');" title="{{ button_remove }}" class="link btn-xs">
										<i class="linearicons-cross"></i>
									</button>
								</td>
							</tr>
						{% endfor %}
						{% for voucher in vouchers %}
							<tr>
								<td class="text-center"></td>
								<td class="text-left">
									<div class="name">{{ voucher['description'] }}</div>
								</td>
								<td class="text-right">
									<div><span class="price-cart"><i> x </i>&nbsp;1 <b>{{ voucher['amount'] }}</b></span></div>
								</td>
								<td class="text-center text-primary">
									<button type="button" onclick="voucher.remove('{{ voucher['key'] }}');" title="{{ button_remove }}" class="link btn-xs">
										<i class="linearicons-cross"></i>
									</button>
								</td>
							</tr>
						{% endfor %}
					</table>
				</li>
				<li>
					<table class="table total">
						{% for total in totals %}
							<tr>
								<td class="text-left">
									{{ total['title'] ~' : ' }} <strong class="text-primary">{{ total['text'] }}</strong>
								</td>
							</tr>
						{% endfor %}
					</table>
					<div class="text-left">
						<a class="btn btn-default" href="{{ cart }}"><span> {{ text_cart }}</span></a>
						<a class="btn btn-primary" href="{{ checkout }}"><span>{{ text_checkout }}</span></a>
					</div>
				</li>
			{% else %}
				<li>
					<p class="text-left">{{ text_empty }}</p>
				</li>
			{% endif %}
		</ul>
	</div>
</div>