{{header}}
<div id="product-manufacturer" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
		{% endfor %}
	</ul>
	<div class="row">{{column_left}}
		{% if column_left and column_right %}
			{%set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{%set class = 'col-sm-9' %}
		{% else %}
			{%set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{class}}">{{content_top}}
			<h2 class="product-section-title">{{heading_title}}</h2>
			{% if products %}
				{%  include '/' ~ theme_path ~ '/template/product/_partials/product_sort.twig'  %}
				<div class="row">
					{%set option_index = 5000 %}
					{% for product in products %}
						<div class="product-layout product-list col-12">
							{%  include '/' ~ theme_path ~ '/template/product/_partials/product_thumbnail.twig'  %}
							<div class="clear"></div>
						</div>
						{%set option_index = option_index + 1 %}
					{% endfor %}
				</div>
				<div class="row">
					<div class="col-sm-6 text-left">{{pagination}}</div>
					<div class="col-sm-6 text-right">{{results}}</div>
				</div>
			{% else %}
				<p>{{text_empty}}</p>
				<div class="buttons">
					<div class="pull-right"><a href="{{continue}}" class="btn btn-primary">{{button_continue}}</a></div>
				</div>
			{% endif %}
			{{content_bottom}}</div>
			{{column_right}}</div>
		</div>
		{{footer}}